:root{
  --primary: rgba(136,136,206,0.7);
  --secondary: rgb(171,129,175);
  --tertiary: #37af65;
}
body{
  font-family: sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}
label{
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;

}
legend{
  align-items: center;
  font-size: 1.25rem;
}
select,
textarea,
.name,
.email,
.number{
  display: block;
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.form-group{
  margin: 0 auto 1.25rem auto;
  padding:  0.25rem;

  
}
form{
  background: var(--primary);
  padding: 40px;
  box-shadow: 0px -1px 10px 5px var(--secondary);
}
.submit{
  display: block;
  width: 100%;
  margin: 0.7rem;
  padding: 0.8em;
  font-size: 1.25rem;
  color: #fff;
  background: var(--tertiary);
  cursor: pointer;
}
.input-radio,
.input-checkbox{
  display: inline-block;
  margin-right: 0.7rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}