@import url(https://fonts.googleapis.com/css?family=Varela+Round);
:root{
  --primary: #6873bA;
  --secondary: rgb(171,129,175);
  --tertiary: #ed4e6e;
}
p{
  font-size: 1.25rem;
}
h1,p{ 
  color: black;

}
h1{
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: white;
  -webkit-text-stroke: 1px #282828;
  opacity: 1;
  text-transform: uppercase;
  z-index: 100;
  font-size: 42px;
}
body{
  font-family: sans-serif;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: bold;
  color: #ddd;
  background-color: rgba(27,27,50,0.1);
}
label{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

}
legend{
  align-items: center;
  font-size: 1.25rem;
}
select,
textarea,
.name,
.email,
.number{
  display: block;
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
  font-size: 1.25rem;
  border-radius: 7px 7px 7px 7px;

}
.form-group{
  margin: 0 auto 1.25rem auto;
  padding:  0.25rem;

  
}
form{
  background: var(--primary);
  padding: 40px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75);
}
.submit{
  display: block;
  width: 100%;
  margin: 0.7rem;
  padding: 0.8em;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background: var(--tertiary);
  cursor: pointer;
  border-radius: 7px 7px 7px 7px;
}
.submit:hover {
  background: #ec3459;
}
.input-radio,
.input-checkbox{
  display: inline-block;
  margin-right: 0.7rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}