body {
    font-family: sans-serif;
    padding-left: 20%;
    padding-right: 20%;
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  legend{
    
    align-items: center;
    font-size: 1.125rem;
  }

select,
textarea, #name, #email, #number {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
   width: 100%;
padding-bottom: 20px;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;

}

  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }

  form {

    background-color: rgba(136, 136, 206, 0.7);
    padding: 40px 40px 40px 40px;
  }

  #button-area {
    float: left;
    width: 50%;
    height: 50%;
  }

  #submit {
    display: block;
    width: 100%;
    padding-bottom: 0.75rem;
    background-color: #37af65;
    color: #fff;
    cursor: pointer;
  }

  .input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}
